<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mamacom.android" android:versionCode="5" android:versionName="1.1.2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="mamacom.android" android:theme="@style/spa" android:icon="@drawable/Icon"></application>
</manifest>