/development/admin/app/tmp
/development/item/app/tmp
/development/admin/app/Controller/_before
/development/admin/app/View/_before
/development/admin/app/webroot/buffer
/development/item/app/webroot/Content
/application/mamacom_ios
/application/App-10/App-10/obj
/application/App-10/App-10/bin
/App_resource/Android/App-10/obj
/App_resource/Android/App-10/bin
/application/ios/App2-wv/bin
/application/ios/App2-wv/obj
/App_resource/iOS_test/iOS_test/obj
/App_resource/iOS_test/iOS_test/bin
