/* style_android.css */
/* iphone端末専用css */
/*
*{
	font-size:24px;
}
input,
select,
textarea{
	font-size:26px !important;
}
h1,
.h1{
	font-size:35px;
}
h2,
.h2{
	font-size:33px;
}
h3,
.h3{
	font-size:30px;
}
h4,
.h4{
	font-size:28px;
}
p{
	font-size:26px;
}
.buttons{
	font-size:26px !important;
}
.header .head h1{
	font-size:35px;
}
.footer ul li a span{
	font-size:20px;
}
.login_block dl.form dt{
	font-size:26px;
}



.userblock_dmy{
	height:530px;
}

.userblock .data .cap{
	height:6em;
}
*/