@media screen and (orientation: landscape) {
	/* 横向きの場合のスタイル */
/*
	.header .logo{
		width:120px;
	}
	.header h1{
		height:30px;
		line-height:30px;
		font-size:30px;
	}
	.footer{
		max-width:250px;
		left:50%;
		margin-left:-125px;
	}
	.footer .float a{
		height:40px;
		background-size:20px;
	}
*/
}
