@media screen and (min-width:500px){
	#XXXXXXXXX *{
		font-size:15px;
	}
	#XXXXXXXXX header{
		line-height:60px;
		height:60px;
	}
	#XXXXXXXXX header .title{
		line-height:25px;
		height:25px;
		font-size:22px;
	}
	#XXXXXXXXX .hdmy{
		height:60px;
	}
	#XXXXXXXXX .buttons,
	#XXXXXXXXX input.buttons{
		font-size:15px;
		height:auto;
		line-height:45px;
		margin-bottom:6px;
	}
	#XXXXXXXXX input,
	#XXXXXXXXX select,
	#XXXXXXXXX textarea{
		line-height:2.1em;
		padding:8px 6px;
	}
	#XXXXXXXXX textarea{
		line-height:1.5em;
	}

	/* default margin (x1.5) */

	#XXXXXXXXX .mb5{margin-bottom:7.5px;}
	#XXXXXXXXX .mb10{margin-bottom:15px;}
	#XXXXXXXXX .mb15{margin-bottom:22.5px;}
	#XXXXXXXXX .mb20{margin-bottom:30px;}
	#XXXXXXXXX .mb25{margin-bottom:37.5px;}
	#XXXXXXXXX .mb30{margin-bottom:45px;}
	#XXXXXXXXX .mb40{margin-bottom:60px;}
	#XXXXXXXXX .mb50{margin-bottom:75px;}
	#XXXXXXXXX .mb60{margin-bottom:90px;}
	#XXXXXXXXX .mb70{margin-bottom:105px;}
	#XXXXXXXXX .mb80{margin-bottom:120px;}
	#XXXXXXXXX .mb90{margin-bottom:135px;}
	#XXXXXXXXX .mb100{margin-bottom:150px;}

	#XXXXXXXXX .mt5{margin-top:7.5px;}
	#XXXXXXXXX .mt10{margin-top:15px;}
	#XXXXXXXXX .mt15{margin-top:22.5px;}
	#XXXXXXXXX .mt20{margin-top:30px;}
	#XXXXXXXXX .mt25{margin-top:37.5px;}
	#XXXXXXXXX .mt30{margin-top:45px;}
	#XXXXXXXXX .mt40{margin-top:60px;}
	#XXXXXXXXX .mt50{margin-top:75px;}
	#XXXXXXXXX .mt60{margin-top:90px;}
	#XXXXXXXXX .mt70{margin-top:105px;}
	#XXXXXXXXX .mt80{margin-top:120px;}
	#XXXXXXXXX .mt90{margin-top:135px;}
	#XXXXXXXXX .mt100{margin-top:150px;}

	#XXXXXXXXX .mm5{margin:7.5px 0px;}
	#XXXXXXXXX .mm10{margin:15px 0px;}
	#XXXXXXXXX .mm15{margin:22.5px 0px;}
	#XXXXXXXXX .mm20{margin:30px 0px;}
	#XXXXXXXXX .mm25{margin:37.5px 0px;}
	#XXXXXXXXX .mm30{margin:45px 0px;}
	#XXXXXXXXX .mm40{margin:60px 0px;}
	#XXXXXXXXX .mm50{margin:75px 0px;}
	#XXXXXXXXX .mm60{margin:90px 0px;}
	#XXXXXXXXX .mm70{margin:105px 0px;}
	#XXXXXXXXX .mm80{margin:120px 0px;}
	#XXXXXXXXX .mm90{margin:135px 0px;}
	#XXXXXXXXX .mm100{margin:150px 0px;}

	#XXXXXXXXX .mauto{margin:0px auto;}

	#XXXXXXXXX .m5{margin:7.5px;}
	#XXXXXXXXX .m10{margin:15px;}
	#XXXXXXXXX .m15{margin:22.5px;}
	#XXXXXXXXX .m20{margin:30px;}
	#XXXXXXXXX .m25{margin:37.5px;}
	#XXXXXXXXX .m30{margin:45px;}
	#XXXXXXXXX .m40{margin:60px;}
	#XXXXXXXXX .m50{margin:75px;}
	#XXXXXXXXX .m60{margin:90px;}
	#XXXXXXXXX .m70{margin:105px;}
	#XXXXXXXXX .m80{margin:120px;}
	#XXXXXXXXX .m90{margin:135px;}
	#XXXXXXXXX .m100{margin:150px;}

	#XXXXXXXXX .ml5{margin-left:7.5px;}
	#XXXXXXXXX .mr5{margin-right:7.5px;}
	#XXXXXXXXX .ml10{margin-left:15px;}
	#XXXXXXXXX .mr10{margin-right:15px;}
	#XXXXXXXXX .ml15{margin-left:22.5px;}
	#XXXXXXXXX .mr15{margin-right:22.5px;}
	#XXXXXXXXX .ml20{margin-left:30px;}
	#XXXXXXXXX .mr20{margin-right:30px;}
	#XXXXXXXXX .mr25{margin-right:37.5px;}
	#XXXXXXXXX .mr30{margin-right:45px;}

	#XXXXXXXXX table tr th{
		line-height:2.2em;
	}

	#XXXXXXXXX dl.form dt{
		padding:15px 20px;
	}
}